p {
  font-family: 'Permanent Marker', 'cursive';
  font-size: 64px;
  line-height: 100px;
  text-align: center;
  background: linear-gradient(0.25turn, #98d6f1, #f63c3c, #ebf8e1);
  color: #fff;
  text-shadow: 5px 5px #000;
}

a {
  text-decoration: none;
}


