<google-map
  #map
  height="40%"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
>
  <map-marker
    *ngFor="let marker of (markers$ | async); let index = index"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="markerClick($event, index)"
    [id]="index"
  >
  </map-marker>
</google-map>

<div class="container">
  <div class="col-lg-12">
    <div class="row column-names">
      <div class="col-sm-8">Name</div>
      <div class="col-sm-2">Distance</div>
      <div class="col-sm-2">Time</div>
    </div>
    <div class="row">
      <div class="col-lg-12 items overflow-scroll">
        <a (click)="findMarkerIndex(marker)" *ngFor="let marker of (visibleMarkers$ | async); let index = index" class="row travel-routes">
          <div class="col-sm-8 name">{{ marker.title }}</div>
          <div class="col-sm-2 distance">{{ marker.distance }}</div>
          <div class="col-sm-2 time">{{ marker.time }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
