.container {
  display: flex;
  flex-direction: column;
}

.items {
  max-height: 50vh;
}

.column-names {
  padding: 20px 10px 10px 10px;
  display: flex;
  cursor: default;
  font-size: 20px;
  font-weight: bold;
  border: 0;
}

.travel-routes {
  display: block;
  &:hover {
    background-color: lightgray;
  }
}

.row.travel-routes {
  display: flex;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid lightgray;

  //.number {
  //  text-align: center;
  //  width: 40px;
  //}
  //
  //.name {
  //  flex-grow: 10;
  //}
  //
  //.distance{
  //  flex-grow: 2;
  //}
  //
  //.time {
  //  flex-grow: 2;
  //}
  //
  //&:first-child {
  //  cursor: default;
  //  font-size: 24px;
  //  font-weight: bold;
  //  text-align: center;
  //  border: 0;
  //  &:hover {
  //    background-color: white;
  //  }
  //}
}

a {
  text-decoration: none;
  color: #000;
}
